* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		html {
			background-color: #f9f9f9;
		}
		.clearfix:before,
		.clearfix:after,
		.clearfix {
			content: '';
			display: block;	
			clear: both;
			float: none;
		}
		.side-nav:before,
		.side-nav:after,
		.side-nav {
			display: block;	
			content: '';
		}
		#root {
			width: 1060px;
			height: auto;
			margin: auto;
			background-color: #fff;
			padding: 50px 48px 60px 46px;
			box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
		}
		.logo__wrapper {
			margin-bottom: 40px;
		}
		.header-nav {
			background: linear-gradient(to bottom, #5e5e5e, #464545);
			margin-bottom: 40px;
		}
		.header-nav__link {
			display: block;
			height: 40px;
			width: 144px;
			line-height: 40px;
			padding-left: 24px;
			color: white;
			text-decoration: none;
			font-size: 11pt;
			font-family: OpenSans, sans-serif;
			float: left;
			transition: .3s;
		}
		.header-nav__link:hover {
			background-color: rgba(0, 0, 0, .3);
		}
		.side-nav {
			display: block;
			border: 1px solid #c8c8c8;
			float: left;
			background: #ffffff;
			overflow: hidden;
		}
		ul.side{
			border: none;
			list-style: none;
			text-align: left;
		}
		ul.side li{
			display: block;
			border-bottom: 1px;
		}
		.side-nav__link {
			display: block;
			float: left;
			width: 240px;
			height: 30px;
			background: #ffffff;
			font-family: Times New Roman, sans-serif;
			display: block;
			color: #656363;
			text-decoration: none;
			font-size: 16px;
			border: 1px;
			text-align: inherit;
			padding: 10px 18px 18px 26px;
			margin: 1px 1px 2px 1px;

		}
		.side-nav__link:hover{
			background-color: #f9f9f9;
			text-decoration-color: black;
			padding-left: 37px;
		}
		.article-image__wrapper{
			display: block;
			margin: 8px auto 8px 328px;
			width: 628px;
			height: 400px;
		}
		.article__text{
			text-align: left;
			margin: 3px 0 0 360px;
			font-family: Times New Roman, sans-serif;
			color: #656363;
			text-decoration: none;
			font-size: 14px;
			line-height: 1.5;
		}
		footer {
			background: #e1e1e1;
			margin-bottom: 40px;
			height: 40px;
			margin: 70px 0 0 0;
		}
		.footer-nav__link {
			display: block;
			height: 40px;
			width: 144px;
			line-height: 40px;
			padding-left: 24px;
			color: #2c2c2c;
			text-decoration: none;
			font-size: 11pt;
			font-family: OpenSans, sans-serif;
			float: left;
			transition: .3s;
		}
		.footer-nav__link:hover {
			text-decoration: underline;
		}
		.copyright{
			color: #2c2c2c;
			text-decoration: none;
			font-size: 11pt;
			font-family: OpenSans, sans-serif;
			margin: 17px 27px 17px 744px;
			padding: 13px;
		}